---
import { fetchAllArticles, formatTagsAndCats } from "../../../../utils";
import ArticleCard from "../../../components/ArticleCard.astro";
import Layout from "../../../layouts/Layout.astro";

export async function getStaticPaths () {

  const allArticles = await fetchAllArticles()

  return allArticles.map(entry => ({
    params: {
      slug: entry.data.category.toLowerCase().replace(/\s+/g, "-")
    },

    props: { 
      category: entry.data.category 
    }
  }));
}

const { slug } = Astro.params;
const { category } = Astro.props;

if(category === undefined) {
  throw new Error('Category is required');
}

const allArticles = await fetchAllArticles();
const randomisedArticles = allArticles.sort(() => Math.random() - Math.random())
const categoryArticles = randomisedArticles.filter(article => formatTagsAndCats(article.data.category) === slug)
---

<Layout
  title=`Kolade's blog ${category} articles`
  description=`Kolade's blog articles in the ${category} category`
  canonicalLink=`https://www.koladechris.com/blog/category/${formatTagsAndCats(category)}`
  description=`Kolade's blog ${category} articles`
  canonicalLink=`https://www.koladechris.com/blog/category/${formatTagsAndCats(category)}`
  title=`Kolade's blog article with category ${category}`
  description=`Kolade's blog article with category ${category}`
  canonicalLink=`https://www.koladechris.com/blog/category/${formatTagsAndCats(category)}`
  OGUrl=`https://www.koladechris.com/blog/category/${formatTagsAndCats(category)}`
  OGTitle=`Kolade's blog ${category} articles`
  OGDesc=`Kolade's blog articles in the ${category} category`
  xtitle=`Kolade's blog ${category} articles`
  xDesc=`Kolade's blog articles in the ${category} category`
>
  <h1>{category} Articles</h1>
  <div class="article-cards">
    {categoryArticles.map((article) => (
      <ArticleCard article={article} />
    ))}
  </div>
</Layout>

<style>

  h1 {
    font-size: var(--h1-font);
    margin-bottom: 2.5rem;
  }

  .article-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 3.8rem;
  }
</style>