---
import { formatDate } from '../../utils'
import type { CollectionEntry } from "astro:content";

const { article } = Astro.props;

interface Props {
  article: CollectionEntry<'articles'>;
}
---

<div class="article-card">
  <a
    href={`/blog/${article.data.slug}`}
    class="article-link"
    >
    <img
      src={article.data.coverImage}
      alt={article.data.title}
      class="article-image"
    />
  </a>
  <div class="article-card-content">
    <h3 class="article-title">
      <a
        href={`/blog/${article.data.slug}`}
        class="article-title-link"
        >
        {article.data.title}
      </a>
    </h3>
    <small>{article.data.excerpt}</small>
    <div class="tags-and-date">
      <div class="tags">
        {article.data.tags.map((tag:string, index:number) => (
          <span class={index % 2 === 0 ? 'even-tag' : 'odd-tag'}>
            <a
              href={`/blog/tag/${tag.toLowerCase()?.replace(/\s+/, "-")}`}
              class="tag"
              >
              #{tag}
            </a>
          </span>
        ))}
      </div>
      <div class="date">
        <p>{formatDate(article.data.publishedDate)}</p>
      </div>
    </div>
</div>

<style>
  .article-card {
    background-color: var(--card-bg);
    border-radius: var(--border-radius);
    overflow: hidden;
    width: 30%;
    transition: transform 0.3s;
  }

  .article-card:hover {
    transform: scale(1.05);
  }

  .article-link {
    display: block;
    text-decoration: none;
  }

  .article-image {
    width: 100%;
  }

  .article-card-content {
    padding: 20px;
  }

  .article-title {
    font-size: 1.25em;
    margin: 0 0 10px;
  }

  .article-title-link {
    text-decoration: none;
    color: var(--text-color);
  }

  .tags-and-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tags {
    display: flex;
    gap: 10px;
  }

  .tag {
    display: inline-block;
    border-radius: 5px;
    padding: 0.3rem 0.6rem;
    font-size: 0.875em;
    text-decoration: none;
    color: var(--tag-text-color);
  }

  .even-tag {
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
  }

  .odd-tag a {
    color:  #262626;
  }

  .even-tag:hover {
    background-color: var(--accent-hover);
  }

  .odd-tag {
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
  }

  .odd-tag:hover {
    background-color: var(--primary-hover);
  }

  .date p {
    margin: 0;
    color: var(--text-color);
  }

  small {
    display: block;
    margin-bottom: 1rem;
  }

   @media screen and (max-width: 1024px) {
    .article-card {
      width: 100%;
    }

    .tag {
       padding: 0.1rem 0.2rem;
    }

    .tags-and-date {
      font-size: .9rem;
    }
   }

    @media screen and (max-width: 912px) {
    
      .article-title {
        font-size: 1.5rem
      }
    .tags-and-date {
      font-size: 1.2rem;
    }
   }

   @media screen and (max-width: 740px) {
    .tags-and-date {
       font-size: 1rem;
    }
   }
</style>