---
import { AstroFont } from 'astro-font';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	description: string;
	canonicalLink: string;
	OGTitle?: string;
  OGDesc?: string;
  OGImage?: string;
  OGUrl?: string;
  xImg?: string;
  xtitle?: string;
  xDesc?: string;
	xSite?: string;
	xCreator?: string;
}

const {
	title = "Kolade Chris | Software development | Technical Writing | Technical Copywriting",
	description = "Insights and tips in software development, technical writing, and technical copywriting to help you excel in the tech world",
	canonicalLink = "https://www.koladechris.com/",
	OGDesc = "Insights and tips in software development, technical writing, and technical copywriting to help you excel in the tech world",
	OGTitle = "Kolade Chris | Software development | Technical Writing | Technical Copywriting",
	OGImage = "https://www.koladechris.com/ogImage.png",
	OGUrl = "https://www.koladechris.com/",
	xtitle = "Kolade Chris | Software development | Technical Writing | Technical Copywriting",
	xDesc = "Insights and tips in software development, technical writing, and technical copywriting to help you excel in the tech world",
	xImg = "https://www.koladechris.com/ogImage.png",
	xSite = "@Ksound22",
	xCreator = "@Ksound22"
	} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />

		{/* OG Tags for SM */}
		<meta name='og:title' content={OGTitle} />
		<meta name='og:url' content={OGUrl} />
		<meta name='og:description' content={OGDesc} />
		<meta name='og:type' content='website' />
		<meta name='og:image' content={OGImage} />

		{/* OG Meta Tags for Twitter */}
		<meta name='twitter:card' content='summary_large_image' />
		<meta name='twitter:title' content={xtitle} />
		<meta name='twitter:description' content={xDesc} />
		<meta name='twitter:image' content={xImg} />
		<meta name='twitter:site' content={xSite} />
		<meta name='twitter:creator' content={xCreator} />

		{/* Canonical link */}
		<link rel='canonical' href={canonicalLink} />

		<!-- Sitemap -->
		<link rel="sitemap" href="/sitemap-index.xml" />

		<!-- Favicons -->
		<link rel="icon" type="image/png" href="/favicons/apple-touch-icon.png">
		<link rel="app-touch-icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">

		<AstroFont config={[{
			src: [],
			name: "Roboto",
			preload: false,
			display: "swap",
			selector: "body",
			fallback: "sans-serif",
			googleFontsURL: 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900',
		}]}
		/>

		<meta name='google-site-verification' content={import.meta.env.GOOGLE_SITE_VERIFICATION}  />

		<meta name="generator" content={Astro.generator} />

		<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZQFNFH6X5F"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-ZQFNFH6X5F');
		</script>

		<title>{title}</title>

	</head>
	<body>
		<Header />
		<main class="main-page-content">
			<slot />
		</main>
		<Footer />

		<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	</body>
</html>

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	img {
 		max-width: 100%;
	}

	:root {
		--primary-color: #2ecc71;
		--accent-color: #CC2E89;
		--primary-hover: #23bb63;
		--accent-hover: #bc2d80;
		--normal-font: 400;
		--bold-font: 700;
		--bolder-font: 900;
		--bottom-margin: 0.5rem;
		--bottom-margin-2: 1rem;
		--line-height: 1.7rem;
		--transition: 0.3s;
		--paragraph-font: 1.5rem;
		--h1-font: 2.5rem;
		--h2-font: 2rem;
		--border-radius: 4px;
		--line-height: 1.5;

		--bg: #F8F8FF;
		--card-bg: #f1f1f1 ;
		--navbar-and-footer-bg: #f1f1f1;
		--footer-bg: #F2F2F2;
		--text-color: #000;
		--text-color-hover: #0f0f0f;
		--tag-text-color: #FFF;
		--block-quote-code-bg: #dfdfe0;
		--code-bg: #dbdbdb;
	}

	[data-theme="light"] {
		--bg: #F8F8FF;
		--ball-bg: #000;
		--label-bg: #FFF;
		--back-bg: #efefef;
		--card-bg: #FFF;
		--navbar-and-footer-bg: #f5f6fa;
		--footer-bg: #F2F2F2;
		--text-color: #000;
		--text-color-hover: #101010;
		--block-quote-code-bg: #dfdfe0;
		--code-bg: #dbdbdb;
	}

	[data-theme="dark"] {
		--bg: #111827;
		--ball-bg: #fff;
		--label-bg: #313638;
		--back-bg: #000;
		--card-bg: #0e121e;
		--navbar-and-footer-bg: #101623;
		--footer-bg: #292929;
		--text-color: #fff;
		--text-color-hover: #000;
		--blockquote-bg: #333b4c;
		--code-bg: #3d4336;
	}

	body {
		background-color: var(--bg);
		color: var(--text-color);
	}

	.main-page-content {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		max-width: 83rem;
		margin-top: 2.5rem; 
		padding-left: 2rem;
		padding-right: 2rem;
	}

</style>